<nav class="navbar">
<ul class="nav m-2">
  <li class="nav-item">
    <a class="nav-link" href="/authentication/sign-in"><img src="/images/Logo_JungleCity.png" alt="building icon"></a>
  </li>
  <div class="nav margin-nav">
  <li class="nav-item">
    <a class="nav-link" href="/projects/form">Calculate!!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects/list">View Projects</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/projects/create">List Projects</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/authentication/sign-out">Sign-out</a>
  </li>
  </div>
  
</ul>
</nav>