<div class="card list-group-item list-group-item-action ">
  <div class="card-body mb-3">
    <img src="/images/Building_Icon.png" alt="building icon">
    <h5 class="card-title">{{ this.name }}</h5>
    <p class="card-text">{{ this.location }}</p>
    <p class="card-text">{{ this.squaremeter }}</p>
    <p class="card-text">{{ this.stage }}</p>
  </div>
</div>




