

<body id="signup-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <form class=" form-container signup-form text-center " action="/authentication/sign-up" method="POST">
                    <h1 class="mb-5">Getting Started</h1>
                    <h1 class="mb-5 text-uppercase">SIGN IN</h1>
                    <div class="form-group  -container">
                        <div>
                            <label for="input-email">Email</label>
                            <br>
                            <input type="email" id="input-email" name="email" placeholder="Your Email" />
                        </div>
                        <div>
                            <label for="input-password">Password</label>
                            <br>
                            <input type="password" name="password" id="input-password"
                                placeholder="A Strong Password" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-custom btn-block"><a href="/authentication/sign-up"></a>Sign In</button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>

        </div>
    </div>

    </div>

</body>
