{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<body id="homepage-background">
  <div class="container-fluid">
    <h1>Welcome to Jungle City</h1>
    <p>This project serves as a digital platform aiming to help the local Goverment reduce the Carbon Footprint of its
      city. The
      user can get an estimate of the C02 load the city outputs every year and the amount of Vertical Forrest Buildings
      it should construct in order to reduce the enviromental C02 load by 5% within a 10 years scope.
    </p>


  </div>

  <button class="get-started"><a href="/authentication/sign-in">Get Started!</a></button>
</body>