{{>navbar}}
<h1>Calculate how much vertical forest you nedd to offset your Co2 emission</h1>
<input type="text" placeholder="City">
<label for="CO2 emissions">How many tons of CO2 are being produced per year</label>
<input type="number" placeholder="100,000">
<br>
<h2>This is the square meter of greenary you need to plant</h2>

