{{>navbar}}

<h1>Goal</h1>
<h1>100,000 (overALL - SUM(PROJECTS))</h1>

<button class="btn"><a href="/projects/create"><img src="/images/PlusSign.png" /></a></button>

<div class="container">
        <div class="row">
          <div class="col-5" style="max-height: 90vh; overflow: scroll;">
            <div class="list-group">
              {{#each projects}}   
{{>singleproject}}
{{/each}}
              
            </div>
          </div>


{{!-- {{#each projects}}   
{{>singleproject}}
{{/each}} --}}

