{{>navbar}}
<br>
<h2>Planting left to do</h2>
<h4 id = "number">286764</h4>
<h5>Original goal - 286764 sqare meters</h5>


<div class="view-list">
  <div class="container">
          <div class="row">
            <div class="col" style="max-height: 90vh; overflow: scroll;">
              <div class="list-group" >
                {{#each projects}}   
                {{>singleproject}}
                {{/each}}
              </div>
            </div>
          </div>
    </div>
      <button class="greenbtn btn col-6"><a href="/projects/create"><img src="/images/PlusSign.png" /></a></button>
</div>

<div id = "sqm"> 
  {{#each projects}}   
  {{this.squaremeter}}
  {{/each}}
</div>

<script>

  const $total = document.getElementById("sqm").innerText
  
  const arr =($total.split(" "))

  let count = 0

  if(arr.length > 0){
    for(let i = 0; i< arr.length; i++){
    count += parseInt(arr[i])
  }
  }
  

  let changed = 286764 - count

  document.getElementById("number").innerText = changed + " SQM"

</script>


