$font-sans: 'Barlow', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  background-color: #f3f5f7;
}

#homepage-background {
  background-image: url('/images/Background_Picture.png');
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100%;
  height: 100vh;

  .get-started {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    left: 481px;
    top: 561px;
    background: #00bd93;
    border-radius: 11px;
  }

  .get-started a {
    font-family: $font-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
  }
}

#signup-background {
  background-image: url("/images/Background_Picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100%;
  height: 100vh;

  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    border: 0px solid;
    max-width: 100%;
    width: 100%;
    padding: 30px 40px;
    margin-top: 3vh;
    background: #ffffff;
    box-shadow: 1px 0px 10px rgba(198, 198, 198, 0.13);
    border-radius: 7px;
  }

  .signup-form label {
    font-family: $font-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #00bd93;
  }

  .signup-form input {
    color: #00bd93;
  }

  .signup-form h1 {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 66px;
    text-align: center;

    color: #00bd93;

    // color: #93cfab;
    // text-shadow: 2px 2px #2c342f;
    // font-weight: 900;
  }

  .text-uppercase {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    text-align: center;

    color: #00bd93;
  }

  .signup-form a {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #00bd93;
  }

  .signup-form button {
    background: #00bd93;
    border-radius: 11px;
    width: fit-content;
  }
}

.card {
  margin-bottom: 10px;
}

.view-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.greenbtn {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-right: 50px;
  background-image: url('./../images/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.navbar {
  list-style-type: none;
  text-decoration: none;
  background-color: #00bd93;
  width: 100%;
  margin: auto;
}

.margin-nav {
  margin-left: 750px;
}

.navbar a {
  color: white;
}
